server {
  listen 80;

  server_name {{ domain_name }};
  
  location /.well-known/ {
    allow all;;
  }

  location / {
    root /srv/goapp-web;
  }

  
  location /api/sum/ {
    proxy_pass http://localhost:8080;
  }

  location /api/diff/ {
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME /srv/phpapp/diff.php;
    fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
  }
}

 
